.form{
    border: 1px solid black;

}
[type="text "]{
    border: 1px solid rgb(14, 13, 13);
    border-right: 10px;
}
[type="password"]{
    border: 1px solid rgb(14, 13, 13);
    border-right: 10px;
}